.Meals {
  background-color: rgb(214, 213, 213);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
  top: -10vh;
}
