$BGColor: white;

.CartModal {
  background-color: white;
  display: flex;
  position: fixed;
  top: 30vh;
  left: 30%;
  width: 40%;
  justify-content: center;
  z-index: 101;
}

.CartModal_backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
